<% include partials/header %>

<div class="jumbotron">
   <h1 class="display-4"><%= title %></h1>
   <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
   <hr class="my-4">
   <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
   <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
 </div>

 <form id="addTodo">
  <div class="form-group">
    <input type="text" class="form-control" id="todo" name="title" aria-describedby="todo" placeholder="Enter todo">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

 <div class="container">
   <div class="row">
     <div class="col">
        <div id="todosWell">

        </div>
     </div>
   </div>
 </div>

<% include partials/footer %>

<script>
  $(document).ready(function(){
    console.log('todo view');

    // Handle New Todo
    var addTodoForm = $('#addTodo');
    var titleInput = $('#todo');
    var todosWell = $('#todosWell');

    /********************************************
    *           SHOW TODOS
    * ******************************************/
    function getTodos(){
      $.get("/api/todos", function(data){
        
        var ul = $('<ul/>', {
          id: 'todo_ul'
        }).appendTo('#todosWell');

        console.log(data);
        todos = data;
        todosObj = todos.todos;
        console.log("todos: " + todos.todos[1].id);
        console.log("hello todo");
        for(var i = 0; i < todosObj.length; i++){
          console.log('inside for loop');
          var li = $('<li/>', {
            id: todosObj[i].id,
            text: todosObj[i].title
          }).appendTo('#todo_ul');
        }  

      });
    }

    getTodos();
    
    function initializeTodos(todos){
      var counter = 0;
      for(var i = 0; i < todos.length; i++){
        console.log(todos[1]);
          counter++;
          console.log(counter);
      }
    }
      
   

  


    /********************************************
     *            CREATE TODO
     * ******************************************/
    $(addTodoForm).on('submit', handleFormSubmit);
    function handleFormSubmit(e){
      e.preventDefault();
      // If Todo Title is empty, don't submit
      if(!titleInput){
        return;
      }
      // Contstruct Todo
      var newTodo = {
        title: titleInput.val().trim()
      }
      submitTodo(newTodo);
    }
    // Submit the Todo
    function submitTodo(post){
      $.post("/api/todos", post, function(){
        window.location.href = "/todos";
      });
    }





  });
</script>