<% include partials/header %>

<style>
.btn-success, .btn-danger {
    float: right;
}

#todosWell li {
  clear: both;
  margin: 28px 0;
  list-style-type: none;
}

#todosWell ul {
    padding-inline-start: 0;
}
</style>
<div class="jumbotron">
   <h1 class="display-4"><%= title %></h1>
   <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
   <hr class="my-4">
   <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
   <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
 </div>

 <div class="container">
   <div class="row">
     <div class="col-md-8 mx-auto">
        <form id="addTodo">
          <div class="form-group">
            <input type="text" class="form-control" id="todo" name="title" aria-describedby="todo" placeholder="Enter todo">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
     </div>
   </div>
 </div>


 <div class="container mt-4">
   <div class="row">
     <div class="col-md-8 mx-auto">
        <div id="todosWell">

        </div>
     </div>
   </div>
 </div>

<% include partials/footer %>

<script>
  $(document).ready(function(){
    console.log('todo view');

    // Handle New Todo
    var addTodoForm = $('#addTodo');
    var titleInput = $('#todo');
    var todosWell = $('#todosWell');

    /********************************************
    *           SHOW TODOS
    * ******************************************/
    function getTodos(){
      
      // Clear Well
      $(todosWell).empty();
      
      // Get Data
      $.get("/api/todos", function(data){
        
        // Setup up Main <ul> and appendTo todos well
        var ul = $('<ul/>', {
          id: 'todo_ul'
        }).appendTo('#todosWell');
        console.log(data);
        
        // Get todos data
        todos = data;
        todosObj = todos.todos;
        
        // Setup loop for todos
        for(var i = 0; i < todosObj.length; i++){
            
          // <li> To hold todo and append to main <ul>
            var li = $('<li/>', {
              id: 'todo_li_' + todosObj[i].id,
              text: todosObj[i].title
            }).appendTo('#todo_ul');
            
            // Setup edit and delete buttons
            var todo_delete_btn = '<button class="btn btn-danger ml-2 deleteTodo" id="' + todosObj[i].id + '"><i class="fas fa-trash-alt"></i></button>';
            $(todo_delete_btn).appendTo('#todo_li_' + todosObj[i].id);

            var todo_edit_btn = '<button class="btn btn-success ml-2 editTodo" id="' + todosObj[i].id + '"><i class="fas fa-pen"></i></button>';
            $(todo_edit_btn).appendTo('#todo_li_' + todosObj[i].id);
            
            var todoId = todosObj[i].id;
            // Setup todo items
            var todoItemsObj = todosObj[i].TodoItems;
            for(var j = 0; j < todoItemsObj.length; j++){
              
              // If tod has todo item setup child <ul> and append to <li>
              if(todoItemsObj[j].content){
                var item_ul = $('<ul/>', {
                  id: 'item_ul_' + todosObj[i].id,
                }).appendTo('#todo_li_' + todosObj[i].id);
                
                // add todo item to child <ul>
                var item_li = $('<li/>', {
                  id: todoItemsObj[j].id,
                  text: todoItemsObj[j].content
                }).appendTo('#item_ul_' + todosObj[i].id);
              }
            }
            
        }  

      });
    }

    getTodos();

    /********************************************
    *            CREATE TODO
    * ******************************************/
    $(addTodoForm).on('submit', handleFormSubmit);
    
    function handleFormSubmit(e){
      e.preventDefault();

      // If Todo Title is empty, don't submit
      if(!titleInput){
        return;
      }
      // Contstruct Todo
      var newTodo = {
        title: titleInput.val().trim()
      }
      submitTodo(newTodo);
      $('#todo').val('');
    }
    // Submit the Todo
    function submitTodo(newTodo){
      $.post("/api/todos", newTodo)
          .then(getTodos);
    }

    /********************************************
    *            DELETE TODO
    * ******************************************/

    $(document).on("click", ".deleteTodo", handleDeleteTodo);
    function handleDeleteTodo(){
      var thisId = $(this).attr('id');
      $.ajax({
        method: 'DELETE',
        url: "/api/todos/" + thisId
      }).done(getTodos);
    }

    /********************************************
    *            EDIT TODO
    * ******************************************/

   $(document).on("click", ".editTodo", handleEditTodo);

   function handleEditTodo(){
     //alert('clicked');
     var thisId = $(this).attr('id');
     var thisText = $('#todo_li_' + thisId).text();
     
     $('#todo_li_' + thisId).html('<input id="'+ thisId+ '" type="text" class="form-control" value="'+ thisText +'"></input>');
    
     $('input#' + thisId).keypress(function (e) {
      if (e.which == 13) {

        title = $('input#' + thisId).val();
        var updatedTodo = {
          title: title
        }
        console.log('updatedTodo: ' + updatedTodo);
        $.ajax({
          method: 'PUT',
          // contentType: "application/json",
          data: updatedTodo,
          url: "/api/todos/" + thisId,
          error: function(e) {
            console.log(e);
          },
          // dataType: "json",
          // contentType: "application/json"
        }).then(getTodos);
        
      }
    });


   }



  });
</script>