<% include partials/header %>

<div class="jumbotron">
   <h1 class="display-4"><%= title %></h1>
   <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
   <hr class="my-4">
   <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
   <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
 </div>

 <form method="POST" action="/api/weights">
  <div class="form-group">
    <input type="text" class="form-control" id="weight" name="weight" aria-describedby="weight" placeholder="Enter weight">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="container">
   <div class="row">
      <div class="col">
         <ul>
            <% for (var i = 0; i < weights.length; i++) { %>
              <li><%= weights[i].createdAt.toDateString(); %>: <%= weights[i].weight %> lbs</li>
            <% } %>
        </ul>
      </div>
   </div>
</div>


<% include partials/footer %>